<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <style>
    .card-img-top {
      background-color: #000;
      width: 100%;
      height: 20vw;
      object-fit: scale-down;
    }
  </style>

  <title>Gallery</title>
</head>

<body>

  <div class="container">
    {% if folders %}
    <h2 class="text-center mt-5">Albums</h2>
    <div class="list-group">
      {% for folder in folders %}
      <form action="/" method="POST">
        <a onclick="this.parentNode.submit();" style="cursor: pointer;"
          class="list-group-item list-group-item-action">{{ folder }}</a>
        <input type="hidden" name="folder" value="{{ folder }}">
      </form>
      {% endfor %}
    </div>
    {% endif %}
    {% if images %}
    <h2 class="text-center mt-5">Images</h2>
    <div class="row mt-5 mb-5">
      {% for image in images %}
      <div class="col-4 mt-3">
        <form action="{{ url_for('tag_faces') }}" method="POST">
          <input type="hidden" name="image_path" value="{{ image }}">
          <div class="card shadow">
            <img class="card-img-top" src="{{ image }}" alt="Album">
            <div class="card-body text-center">
              <button type="submit" class="btn btn-primary">Tag Faces</button>
            </div>
          </div>
        </form>
      </div>
      {% endfor %}
    </div>
    {% endif %}

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
  <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>